<!-- 
TODO:   
    - automation watch - check every 1 - 2 minutes and auto toggle calls when running
    - manual trigger for read call
    - create logging data extension
    - display logging/debug function to include in script to log
 -->
<!DOCTYPE html>
<html>

<head>
    <title>Welcome to SFMC Console Log</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
</head>

<body>
    <div id="app">
        <v-app>
            <v-main>
                <v-toolbar dense>
                    <!-- <v-app-bar-nav-icon></v-app-bar-nav-icon> -->
                    <v-menu v-model="viewMenu" :close-on-content-click="false" :nudge-width="200" right offset-x offset-y>
                        <template v-slot:activator="{ on, attrs }">
                        <div
                        v-bind="attrs"
                        v-on="on"
                        class="mr-5">
                        <v-icon v-if="viewMenu">mdi-chevron-down</v-icon>
                        <v-icon v-else>mdi-menu</v-icon>

                            
                        </div>
                            
                      </template>

                        <v-card>
                            <v-list>
                                <v-list-item>
                                    <v-list-item-title>Create Data Extension</v-list-item-title>
                                    <v-list-item-action class="text-center">
                                        <v-text-field v-model="settings.countDownDefault"></v-text-field>
                                    </v-list-item-action>
                                </v-list-item>

                                <v-list-item>
                                    <v-list-item-title>View Logging Function</v-list-item-title>
                                    <v-list-item-action class="text-center">
                                        <v-text-field v-model="settings.stopCountDownInDefault"></v-text-field>
                                    </v-list-item-action>
                                </v-list-item>

                                <v-list-item>
                                    <v-list-item-title>Format Log</v-list-item-title>
                                    <v-list-item-action>
                                        <v-switch v-model="settings.formatLog" color="blue"></v-switch>
                                    </v-list-item-action>
                                </v-list-item>

                                <v-list-item>
                                    <v-list-item-title>Show Coutdown</v-list-item-title>
                                    <v-list-item-action>
                                        <v-switch v-model="settings.showCountdown" color="blue"></v-switch>
                                    </v-list-item-action>
                                </v-list-item>

                            </v-list>

                            <v-card-actions>
                                <v-spacer></v-spacer>

                                <v-btn text @click="viewSettings = false">
                                    Close
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-menu>
                    <v-toolbar-title>[SFMC] console.log</v-toolbar-title>
              
                    <v-spacer></v-spacer>
              
                    <!-- <v-btn icon>
                      <v-icon>mdi-magnify</v-icon>
                    </v-btn>
              
                    <v-btn icon>
                      <v-icon>mdi-heart</v-icon>
                    </v-btn>
              
                    <v-btn icon>
                      <v-icon>mdi-dots-vertical</v-icon>
                    </v-btn> -->
                  </v-toolbar>

                  
                <v-container class="mt-15">
                    <v-row class="d-flex justify-center" no-gutters>
                        <v-col cols="12" sm="4" class="mr-10">
                            <v-text-field v-model="logName" label="Log Data Extension" placeholder="Enter Data Extension Name" class="d-flex align-center" outlined></v-text-field>
                            <small class="mt-n20" v-if="error.logName.active">{{error.logName.msg}}</small>
                        </v-col>
                        <v-col cols="12" sm="6" class="d-flex align-start">
                            <v-checkbox v-if="settings.showCountdown" v-model="poll" :label="`Watch Log (${countDown})`" class="mb-n10 mr-8"></v-checkbox>
                            <v-checkbox v-else v-model="poll" :label="`Watch Log`" class="mb-n10 mr-8"></v-checkbox>
                        </v-col>
                        <v-col cols="12" sm="1">
                            <div class="text-center">
                                <v-menu v-model="viewSettings" :close-on-content-click="false" :nudge-width="200" left offset-x>
                                    <template v-slot:activator="{ on, attrs }">
                                    <v-btn
                                    v-bind="attrs"
                                    v-on="on">
                                        <v-icon>mdi-cog-outline</v-icon>
                                    </v-btn>
                                        
                                  </template>

                                    <v-card>
                                        <v-list>
                                            <v-list-item>
                                                <v-list-item-content>
                                                    <v-list-item-title>Configurations</v-list-item-title>
                                                </v-list-item-content>
                                            </v-list-item>
                                        </v-list>

                                        <v-divider></v-divider>

                                        <v-list>
                                            <v-list-item>
                                                <v-list-item-title>Log Refresh</v-list-item-title>
                                                <v-list-item-action class="text-center">
                                                    <v-text-field v-model="settings.countDownDefault"></v-text-field>
                                                </v-list-item-action>
                                            </v-list-item>

                                            <v-list-item>
                                                <v-list-item-title>Refresh Timeout</v-list-item-title>
                                                <v-list-item-action class="text-center">
                                                    <v-text-field v-model="settings.stopCountDownInDefault"></v-text-field>
                                                </v-list-item-action>
                                            </v-list-item>

                                            <v-list-item>
                                                <v-list-item-title>Format Log</v-list-item-title>
                                                <v-list-item-action>
                                                    <v-switch v-model="settings.formatLog" color="blue"></v-switch>
                                                </v-list-item-action>
                                            </v-list-item>

                                            <v-list-item>
                                                <v-list-item-title>Show Coutdown</v-list-item-title>
                                                <v-list-item-action>
                                                    <v-switch v-model="settings.showCountdown" color="blue"></v-switch>
                                                </v-list-item-action>
                                            </v-list-item>

                                        </v-list>

                                        <v-card-actions>
                                            <v-spacer></v-spacer>

                                            <v-btn text @click="viewSettings = false">
                                                Close
                                            </v-btn>
                                        </v-card-actions>
                                    </v-card>
                                </v-menu>
                            </div>
                        </v-col>
                    </v-row>

                    <v-row>
                        <v-col col="12" class="blue-grey lighten-5 p-5">
                            <v-simple-table fixed-header height="65vh">
                                <template v-slot:default>
                               <thead>
                                 <tr>
                                   <th col="12" sm="3" v-for="field in table.fields" :key="field" class="text-left">
                                     {{field}}
                                   </th>
                                 </tr>
                               </thead>
                               <tbody>
                                 <tr
                                   v-for="(item, index) in log"
                                   :key="index"
                                 >
                                   <td col="12" sm="3">{{ item.timestamp }}</td>
                                   <td col="12" sm="3">{{ item.action }}</td>
                                   <td col="12" sm="6">
                                       <pre v-if="settings.formatLog">{{ item.log }}</pre>
                                       <span v-else>{{item.log}}</span>
                                     </td>
                                 </tr>
                               </tbody>
                             </template>
                            </v-simple-table>
                        </v-col>
                    </v-row>
                </v-container>
            </v-main>
        </v-app>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            data: {
                codeResource: 'https://mc1q10jrzwsds3bcgk0jjz2s8h80.pub.sfmc-content.com/0ekuwawufhr',
                poll: false,
                drawer: false,
                viewSettings: false,
                viewMenu: false,
                settings: {
                    countDownDefault: 30,
                    automationCountDownDefault: 3600,
                    stopCountDownInDefault: 10,
                    formatLog: true,
                    showCountdown: true
                },
                countDown: 2,
                automationCountDown: 3600,
                stopCountDownIn: 0,
                previousTotal: 0,
                table: {
                    fields: []
                },
                logName: '',
                log: [],
                error: {
                    logName: {
                        active: false,
                        msg: 'Logging Data Extension Name Required.'
                    }
                }
            },
            watch: {
                countDown: {
                    handler(value) {
                        if (value === 1) {
                            this.updateLog()
                        }
                    },
                    automationCountDown: {
                        handler(value) {
                            if (value === 1 && this.poll === false) {
                                this.poll === true;
                                this.automationCountDownTimer()
                            }
                        }
                    }
                },
                poll: {
                    handler(value) {
                        if (value === true) {
                            if (this.logName.length > 0) {
                                this.error.logName.active = false;
                                this.countDownTimer()
                                this.automationCountDownTimer()
                            } else {

                                this.error.logName.active = true;
                                this.poll = false;
                                this.countDown = this.settings.countDownDefault;
                            }
                        }

                        this.automationCountDownTimer()
                    }
                }
            },
            methods: {
                countDownTimer() {
                    if (this.poll) {
                        if (this.countDown > 0) {
                            setTimeout(() => {
                                this.countDown -= 1
                                this.countDownTimer()
                            }, 1000)
                        } else {
                            this.countDown = this.settings.countDownDefault;
                            this.countDownTimer()
                        }
                    }
                },
                automationCountDownTimer() {
                    if (this.poll) {
                        if (this.automationCountDown > 0) {
                            setTimeout(() => {
                                this.automationCountDown -= 1
                                this.automationCountDownTimer()
                            }, 1000)
                        } else {
                            this.automationCountDown = this.settings.settings.automationCountDownDefault;
                            this.automationCountDownTimer()
                        }
                    }
                },
                isolateHeaders: async function(obj) {
                    const headers = [];
                    for (o in obj) {
                        const key = o;
                        headers.push(key)
                    }
                    return headers
                },
                updateLog: async function() {
                    try {
                        const resp = await axios.get(`${this.codeResource}?log=${this.logName}&int=${this.settings.countDownDefault}`)
                        console.log(resp.data)
                        let holdLog;

                        const headers = await isolateHeaders(resp.data[0])
                        this.table.fields = headers;

                        if (this.previousTotal === resp.data.length) {
                            if (this.stopCountDownIn === this.settings.stopCountDownInDefault) {
                                this.poll = false;
                                this.countDown = this.settings.countDownDefault;
                                this.stopCountDownIn = 0;
                            } else {
                                this.stopCountDownIn += 1
                                holdLog = [...resp.data]
                            }
                        } else {
                            this.stopCountDownIn += 1
                            this.previousTotal = resp.data.length;
                            holdLog = [...resp.data]
                        }

                        this.log = holdLog.sort(function(a, b) {
                            // Turn your strings into dates, and then subtract them
                            // to get a value that is either negative, positive, or zero.
                            return new Date(b.timestamp) - new Date(a.timestamp);
                        });


                    } catch (err) {
                        console.log(err)
                    }
                }
            }
        })
    </script>
</body>

</html>